<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--类型别名-->
    <typeAliases>
        <typeAlias type="com.lyw.po.Json" alias="json"/>
    </typeAliases>
    <!--环境变量-->
    <environments default="development">
        <!--其中一个环境变量-->
        <environment id="development">
            <!--JDBC的事物管理-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据源-->
            <dataSource type="POOLED">
                <!--加载驱动-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--路径-->
                <property name="url" value="jdbc:mysql:///json"/>
                <!--用户名-->
                <property name="username" value="root"/>
                <!--密码-->
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--注册映射文件-->
    <mappers>
        <mapper class="com.lyw.dao.JsonDao"/>
    </mappers>
</configuration>